<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.ktds.hskim.article.vo.ArticleVO" alias="ArticleVO"/>
		<typeAlias type="com.ktds.hskim.article.vo.ArticleSearchVO" alias="ArticleSearchVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/com/ktds/hskim/article/dao/impl/sql/articleDAO.xml"/>
		<mapper resource="/com/ktds/hskim/handler/socket/dao/impl/sql/paintDAO.xml"/>
	</mappers>

</configuration>




